In [2]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

Nifty50 = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[2]

symbols_list = Nifty50['Symbol'].unique().tolist()
symbols_list = [symbol + '.NS' for symbol in symbols_list]
end_date = '2024-09-14'

start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%%**********************]  50 of 50 completed

Price                        adj close         close          high  \
date       ticker
2016-09-16 ADANIENT.NS       36.859791     37.652676     39.505341
           ADANIPORTS.NS    259.295898    271.149994    275.000000
           APOLLOHOSP.NS   1269.138062   1305.500000   1319.849976
           ASIANPAINT.NS   1089.466309   1155.150024   1181.250000
           AXISBANK.NS      593.017395    602.200012    612.400024
...                                ...           ...           ...
2024-08-16 TCS.NS          4416.049805   4416.049805   4427.000000
           TECHM.NS        1585.300049   1585.300049   1589.000000
           TITAN.NS        3444.750000   3444.750000   3450.100098
           ULTRACEMCO.NS  11295.700195  11295.700195  11325.000000
           WIPRO.NS         516.250000    516.250000    517.450012

Price                              low          open      volume
date       ticker
2016-09-16 ADANIENT.NS       37.352978     38.960438  12219607.0
           ADANIPORTS.NS    267.700012    268.000000   5596231.0
           APOLLOHOSP.NS   1273.250000   1284.500000    339922.0
           ASIANPAINT.NS   1152.000000   1173.599976   1136226.0
           AXISBANK.NS      592.250000    592.250000  19309804.0
...                                ...           ...         ...
2024-08-16 TCS.NS          4325.100098   4350.000000   3457058.0
           TECHM.NS        1531.300049   1558.400024   3224481.0
           TITAN.NS        3370.199951   3410.000000   1161982.0
           ULTRACEMCO.NS  10950.200195  11040.000000    435631.0
           WIPRO.NS         497.950012    501.000000  12965570.0

[97152 rows x 6 columns]

In [3]:
df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
                                                          
df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                                                          
df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14) 
    return atr.sub(atr.mean()).div(atr.std())          #NORMALIZED THE DATA

df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price                        adj close         close          high  \
date       ticker
2016-09-16 ADANIENT.NS       36.859791     37.652676     39.505341
           ADANIPORTS.NS    259.295898    271.149994    275.000000
           APOLLOHOSP.NS   1269.138062   1305.500000   1319.849976
           ASIANPAINT.NS   1089.466309   1155.150024   1181.250000
           AXISBANK.NS      593.017395    602.200012    612.400024
...                                ...           ...           ...
2024-08-16 TCS.NS          4416.049805   4416.049805   4427.000000
           TECHM.NS        1585.300049   1585.300049   1589.000000
           TITAN.NS        3444.750000   3444.750000   3450.100098
           ULTRACEMCO.NS  11295.700195  11295.700195  11325.000000
           WIPRO.NS         516.250000    516.250000    517.450012

Price                              low          open      volume  \
date       ticker
2016-09-16 ADANIENT.NS       37.352978     38.960438  12219607.0
           ADANIPORTS.NS    267.700012    268.000000   5596231.0
           APOLLOHOSP.NS   1273.250000   1284.500000    339922.0
           ASIANPAINT.NS   1152.000000   1173.599976   1136226.0
           AXISBANK.NS      592.250000    592.250000  19309804.0
...                                ...           ...         ...
2024-08-16 TCS.NS          4325.100098   4350.000000   3457058.0
           TECHM.NS        1531.300049   1558.400024   3224481.0
           TITAN.NS        3370.199951   3410.000000   1161982.0
           ULTRACEMCO.NS  10950.200195  11040.000000    435631.0
           WIPRO.NS         497.950012    501.000000  12965570.0

Price                     garman_klass_vol        rsi    bb_low    bb_mid  \
date       ticker
2016-09-16 ADANIENT.NS            0.000383        NaN       NaN       NaN
           ADANIPORTS.NS         -0.000059        NaN       NaN       NaN
           APOLLOHOSP.NS          0.000590        NaN       NaN       NaN
           ASIANPAINT.NS         -0.001823        NaN       NaN       NaN
           AXISBANK.NS            0.000559        NaN       NaN       NaN
...                                    ...        ...       ...       ...
2024-08-16 TCS.NS                 0.000183  64.578151  8.324885  8.363535
           TECHM.NS               0.000571  65.977583  7.281409  7.322527
           TITAN.NS               0.000235  54.764107  8.085322  8.129303
           ULTRACEMCO.NS          0.000364  50.031397  9.303603  9.347530
           WIPRO.NS               0.000390  53.239825  6.160340  6.228743

Price                      bb_high       atr      macd  dollar_volume
date       ticker
2016-09-16 ADANIENT.NS         NaN       NaN       NaN     450.412158
           ADANIPORTS.NS       NaN       NaN       NaN    1451.079745
           APOLLOHOSP.NS       NaN       NaN       NaN     431.407948
           ASIANPAINT.NS       NaN       NaN       NaN    1237.879946
           AXISBANK.NS         NaN       NaN       NaN   11451.049666
...                            ...       ...       ...            ...
2024-08-16 TCS.NS         8.402186  1.755290  1.109068   15266.540306
           TECHM.NS       7.363645  1.679559  0.981056    5111.769887
           TITAN.NS       8.173284  1.813060 -0.066821    4002.737495
           ULTRACEMCO.NS  9.391456  2.853533 -0.553280    4920.757172
           WIPRO.NS       6.297145  1.230923 -0.843878    6693.475513

[97152 rows x 14 columns]